<form action="" id="modal-delete-form">
  <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-delete__contents d-flex flex-column justify-content-center align-items-center">
        <img src="/images/modal-delete-image.png" alt="Modal Delete">
        <div class="modal-delete__text d-flex flex-column justify-content-center align-items-center">
          <h1 class="modal-delete__title mb-0">Menghapus Data Mobil</h1>
          <p class="modal-delete__description mb-0">
            Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?
          </p>
        </div>
        <div class="modal-delete__actions d-flex justify-content-center align-items-center">
          <button type="submit" class="btn-delete__continue">Ya</button>
          <button type="button" class="btn-delete__cancel" data-bs-dismiss="modal" aria-label="Close">Tidak</button>
        </div>
      </div>
    </div>
  </div>
</form>