<% if (messages.success) { %>
  <div class="list-cars__notification d-flex justify-content-center align-items-center position-absolute">
    <div class="list-cars__notification-contents notification-success font-rubik position-relative d-flex justify-content-center align-items-center">
      <span><%= messages.success %></span>
      <button type="button" onclick="closeNotification()" class="notification-button position-absolute">
        <img src="/icons/x-mark.svg" alt="close">
      </button>
    </div>
  </div>
<% } else if (messages.successDelete) { %>
  <div class="list-cars__notification d-flex justify-content-center align-items-center position-absolute">
    <div class="list-cars__notification-contents notification-success-delete font-rubik position-relative d-flex justify-content-center align-items-center">
      <span><%= messages.successDelete %></span>
      <button type="button" onclick="closeNotification()" class="notification-button position-absolute">
        <img src="/icons/x-mark.svg" alt="close">
      </button>
    </div>
  </div>
<% } else if (messages.error) { %>
  <div class="list-cars__notification d-flex justify-content-center align-items-center position-absolute">
    <div class="list-cars__notification-contents notification-error font-rubik position-relative d-flex justify-content-center align-items-center">
      <span><%= messages.error %></span>
      <button type="button" onclick="closeNotification()" class="notification-button position-absolute">
        <img src="/icons/x-mark.svg" alt="close">
      </button>
    </div>
  </div>
<% } %>