<div class="dashboard-navbar navbar navbar-light container-fluid bg-white fixed-top position-static d-flex">
  <button type="button" class="sidebar-button">
    <img src="/icons/menu.svg" alt="Menu">
  </button>
  <div class="navbar__contents d-flex align-items-center"> 
    <div class="navbar__search">
      <form class="navbar__search__form-field d-flex" role="search">
        <div class="navbar__search__input-container position-relative">
          <input class="navbar__search__form-input" type="search" placeholder="Search">
          <img src="/icons/search.svg" alt="Search" class="navbar__search__form-input-icon position-absolute">
        </div>
        <button class="navbar__search__form-button" type="submit">Search</button>
      </form>
    </div>
    <div class="navbar__profile d-flex align-items-center">
      <div class="navbar__profile__avatar d-flex justify-content-center align-items-center">U</div>
      <span class="navbar__profile__name">Unis Badri</span>
      <img src="/icons/chevron-down-dropdown.svg" alt="Dropdown">
    </div>
  </div>
</div>