<div class="sidebar active">
  <ul class="sidebar-menu mb-0">
    <li class="sidebar-menu-item d-flex flex-column align-items-center">
      <image src="/images/rectangle-menu.png" height="34" width="34">
    </li>
    <li class="sidebar-menu-item menu-dashboard d-flex flex-column align-items-center fw-light">
      <image src="/icons/home.svg" height="24" width="24" alt="home" />
      Dashboard
    </li>
    <li class="sidebar-menu-item menu-car d-flex flex-column align-items-center fw-bold">
      <image src="/icons/truck.svg" height="24" width="24" alt="cars" />
      Cars
    </li>
  </ul>
  <div class="sidebar-submenu d-flex flex-column bg-white">
    <div class="brand">
        <img src="/images/rectangle-submenu.png" >
    </div>
    <div class="sidebar-submenu-list d-flex flex-column">
      <div class="sidebar-submenu-item fw-bold">CARS</div>
      <div class="sidebar-submenu-item fw-bold">List Car</div>
    </div>
  </div>
</div>